
.primary-title {
   text-align: center;
}
.play-button {
   width: 4.5rem;
   border-radius: 0.5rem;
   background-color: rgb(244, 128, 244);
   font-size: 1rem;
   margin-top: 1rem;
   align-self: center;
      cursor: pointer;
}
.message {
   color: rgb(103, 41, 228);
   font-weight: bold;
}
.counter {
   color: rgb(244, 80, 80);
}